{% extends "layout.html" %}
{% block content %}
<div class="panel">
        <div class="panel-body">
          
          
          {% for post in post_list %}
          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-5 col-sm-4 text-center">
              <a class="story-title" href="/articles/{{ post.id }}"><img alt="" src="{{ post.image }}" style="width:100%;height:auto"></a>
            </div>
            <div class="col-md-7 col-sm-8">
              <a href="/articles/{{ post.id }}"><h3>{{ post.title }}</h3></a>

              <div class="row">
                <div class="col-xs-9">
                  <p style="font-family:courier,'new courier';">{{ post.content | truncate(35, False) }}</p>
                  <h4><span class="label label-default">#Big News</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="/articles/{{ post.id }}" >Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          {% endfor %}
          <!--/stories-->
          
        </div>
</div>
{% endblock %}