{% extends "layout.html" %}
{% block content %}
<div class="panel">
        <div class="panel-body">


            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <img alt="" class="img-responsive center-block" src="{{ article.image }}" style="max-height: 400px">
                    <h1>{{ article.title | safe }}</h1>
                </div>

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ article.content | safe }}
                </div>
            </div>


        </div>
</div>
{% endblock %}