{% extends "layout.html" %}
{% block content %}
{% from "formhelper.html" import render_field %}
<div class="panel">
        <div class="panel-body">

            <div class="row">
                <label for="categories">Categories: </label>
                <select name="categories" id="categories" onchange="onCategoryChange(this);">
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
                </select>

                <!-- Printing all the key words for the category selected -->
                <div id="keywords">
                    <label for="categories">Title keywords:</label>
                    <ul id="keywords_title">
                    </ul>

                    <label for="categories">Content keywords:</label>
                    <ul id="keywords_content">
                    </ul>
                </div>

                <form class="col-md-12" method=post action="/articles/post">
                  <dl>
                    {{ render_field(form.title) }}
                    {{ render_field(form.content) }}
                    {{ render_field(form.image) }}

                    <br>
                    <img alt="" id="current_img" class="img-responsive" src="" style="width:100%;height:auto">

                  </dl>
                  <p><input type=submit value=Submit>
                </form>
              </div>
          </div>

  </div>

<script>
    $( document ).ready(function() {
        CKEDITOR.replace( 'content' );

        onCategoryChange(null);
    });

    $("#image").change(function() {
        imageUpdate($(this).val());
    });

    function imageUpdate(value) {

        var current_img_html = document.getElementById('current_img');
        current_img_html.setAttribute('src', value);
    }

    function onCategoryChange(opt) {
        var keyword = opt === undefined ? opt.getAttribute('value') : 'a';


        var keywords_title_html = document.getElementById('keywords_title');
        var keywords_content_html = document.getElementById('keywords_content');
        keywords_title_html.innerHTML = "";
        keywords_content_html.innerHTML = "";

        var images_select_html = document.getElementById('image');
        images_select_html.innerHTML = "";


        var images_html = { select: images_select_html};

        keywordsRequest(keyword, keywords_title_html, keywords_content_html,
                        images_html);
    }

    function keywordsRequest(keyword, keywords_title_html,keywords_content_html,
                             images_html) {
        var xmlhttp = new XMLHttpRequest();

        var url = "/articles/all";

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var keywords = JSON.parse(xmlhttp.responseText);
                UpdateKeywords(keywords.results, keywords_title_html,keywords_content_html,
                               images_html);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(JSON.stringify({ 'category' : keyword}));


        function UpdateKeywords(keywords, keywords_title_html,keywords_content_html,
                                images_html) {

            for (var i = 0; i < keywords.length; ++i) {
                var keyword_html = document.createElement('li');
                keyword_html.classList.add('keyword');
                keyword_html.appendChild(document.createTextNode(keywords[i].title));
                keywords_title_html.appendChild(keyword_html);
            }
            for (var i = 0; i < keywords.length; ++i) {
                var keyword_html = document.createElement('li');
                keyword_html.classList.add('keyword');
                keyword_html.appendChild(document.createTextNode(keywords[i].title));
                keywords_content_html.appendChild(keyword_html);
            }

            imagesRequest(keywords[0].title, images_html)
        }
    }

        function imagesRequest(keyword, images_html) {
         var xmlhttp = new XMLHttpRequest();

        var url = "/articles/images/" + keyword;

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var result = JSON.parse(xmlhttp.responseText);
                updateImages(result.images, images_html);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send();


        function updateImages(images, images_html) {
            console.log(images.length);

            for (var i = 0; i < images.length; ++i) {
                var image_html = document.createElement('option');
                image_html.setAttribute("value", images[i].url)
                image_html.appendChild(document.createTextNode(images[i].name));

                images_html.select.appendChild(image_html);
            }

            var default_value = images_html.select.firstElementChild.getAttribute('value');

            imageUpdate(default_value);
        }
    }
</script>

{% endblock %}