{% extends "layout.html" %}
{% block content %}
{% from "formhelper.html" import render_field %}
<div class="panel">
        <div class="panel-body">

            <div class="row">
                <div id="labels" class="hidden">
                    {{ render_field(form.full_analysis) }}
                    <label for="categories">Categories: </label>
                    <select name="categories" id="categories" onchange="onCategoryChange();">
                    {% for category in categories %}
                        <option value="{{ categories[category] }}">{{ category }}</option>
                    {% endfor %}
                    </select>
                    <select id="lang" class="hidden" onchange="onCategoryChange();">
                      <option value="fr">Français</option>
                      <option value="en">English</option>
                    </select>
                </div>


                <div id="loading_dialog" class="text-center hidden">
                    <h2 style="color: red">Please wait while we are processing the keywords!</h2>
                </div>


                <ul id="loading_bar" class="loader hidden">
                    <li>
                        <div class="circle"></div>
                        <div class="ball"></div>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <div class="ball"></div>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <div class="ball"></div>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <div class="ball"></div>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <div class="ball"></div>
                    </li>
                </ul>

                <!-- Printing all the key words for the category selected -->
                <div id="keywords" class="hidden">
                    <label for="categories">Title keywords:</label>
                    <ul id="keywords_title">
                    </ul>

                    <label for="categories">Content keywords:</label>
                    <ul id="keywords_content">
                    </ul>
                </div>

                <form class="col-md-12" method=post action="/articles/post">
                  <dl>
                    {{ render_field(form.title) }}
                    {{ render_field(form.content) }}

                    {{ render_field(form.image) }}

                    <br>
                    <img alt="" id="current_img" class="img-responsive" src="" style="max-width: 500px ;height:auto">

                  </dl>
                    <div id="submit">
                        <p><input type=submit value=Submit>
                    </div>
                </form>
              </div>
          </div>

  </div>

<script>
    $( document ).ready(function() {
        CKEDITOR.replace( 'content' );

        var is_full = $(this).is(':checked');

        $('#labels, #image').addClass('hidden');
        $('#loading_dialog, #loading_bar').removeClass('hidden');

        onCategoryChange(is_full);
    });

    $("#full_analysis").change(function() {
        var is_full = $(this).is(':checked');

        $('#labels, #lang, #full_analysis, #categories,' +
                '#keywords, #image').addClass('hidden');

        $('#loading_dialog, #loading_bar').removeClass('hidden');

        onCategoryChange(is_full);
    });

    $("#image").change(function() {
        imageUpdate($(this).val());
    });

    function onCategoryChange(is_full) {
        $('#labels, #keywords, #image').addClass('hidden');
        $('#loading_dialog, #loading_bar').removeClass('hidden');

        var elt = document.getElementById('lang');
        var lang = elt.options[elt.selectedIndex].value;
        elt = document.getElementById('categories');
        var keyword = elt.options[elt.selectedIndex].value;

        var keywords_title_html = document.getElementById('keywords_title');
        var keywords_content_html = document.getElementById('keywords_content');
        keywords_title_html.innerHTML = "";
        keywords_content_html.innerHTML = "";

        var images_select_html = document.getElementById('image');
        images_select_html.innerHTML = "";


        var images_html = { select: images_select_html };

        keywordsRequest(keyword, lang, keywords_title_html, keywords_content_html,
                        images_html, is_full);
    }

    function keywordsRequest(keyword, lang, keywords_title_html,keywords_content_html,
                             images_html, is_full) {
        var xmlhttp = new XMLHttpRequest();

        var url = "/articles/keywords";

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var keywords = JSON.parse(xmlhttp.responseText);
                UpdateKeywords(keywords.results, keywords_title_html,keywords_content_html,
                               images_html);
            }
        };

        xmlhttp.open("GET", url + "?category=" + keyword + "&lang=" + lang + "&is_full=" + is_full, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send();


        function UpdateKeywords(keywords, keywords_title_html,keywords_content_html,
                                images_html) {

            for (var i = 0; i < keywords.title.length; ++i) {
                var keyword_html = document.createElement('li');
                keyword_html.classList.add('keyword');
                keyword_html.appendChild(document.createTextNode(keywords.title[i]));
                keywords_title_html.appendChild(keyword_html);
            }
            for (var i = 0; i < keywords.content.length; ++i) {
                var keyword_html = document.createElement('li');
                keyword_html.classList.add('keyword');
                keyword_html.appendChild(document.createTextNode(keywords.content[i]));
                keywords_content_html.appendChild(keyword_html);
            }

            $('#labels, #full_analysis, #lang, #categories, #keywords').removeClass('hidden');
            $('#loading_dialog, #loading_bar').addClass('hidden');

            imagesRequest(keywords.title[0], images_html)
        }
    }

    function imagesRequest(keyword, images_html) {
        var xmlhttp = new XMLHttpRequest();

        var url = "/articles/images/" + keyword;

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var result = JSON.parse(xmlhttp.responseText);
                updateImages(result.images, images_html);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send();


        function updateImages(images, images_html) {

            for (var i = 0; i < images.length; ++i) {
                var image_html = document.createElement('option');
                image_html.setAttribute("value", images[i].url)
                image_html.appendChild(document.createTextNode(images[i].name));

                images_html.select.appendChild(image_html);
            }

            var default_value = images_html.select.firstElementChild.getAttribute('value');

            $('#image').removeClass('hidden');

            imageUpdate(default_value);
        }
    }

    function imageUpdate(value) {
        var current_img_html = document.getElementById('current_img');
        current_img_html.setAttribute('src', value);
    }
</script>

{% endblock %}
